*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }


    body{
    background-image: url('Assets/Background.jpg');
    background-size: cover;
    background-position:150%;
    background-repeat: no-repeat;
    font-family: "Raleway", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    }
    
    html{
    font-size: 62.5%;
    }
    
    main{
    display: flex;
    justify-content: end;
    align-items: center;
    min-width:100vw;
    min-height: 100vh;
    }
    
    .bud{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background-color: #FFFFFF;
    border-radius: 3rem 0 0 3rem;
    width: 48rem;
    height: 100rem;
    overflow: auto;
    scrollbar-width: none; 
}

.bud::-webkit-scrollbar {
    display: none;
}

    
    .box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 35rem;
    height: auto;
    margin-top: 2rem;
    padding: 1rem;
}

   
    .sox{
    text-align: center;
    align-content:center;
    width: 25rem;
    height: 10rem;
    margin-bottom: 3rem;
    }
    
    .box h1{
    font-size: 2.5rem;
    }
    
    .box p{
    font-size: 1.6rem;
    }
    

.category {
    margin-bottom: 20px;
}

h1 {
    margin-bottom: 2rem;
    font-size: 2rem;
    font-weight: 500;
}

.preference-container {
    display: flex;
    justify-content: start;
    width: 40rem;
    gap: 1rem;
    flex-wrap: wrap;
}

.preference-option {
    border: 1px solid  #000000;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    transition: all 0.3s ease;
    width: auto;
}

.preference-option p {
    margin: 0 1rem ;
}

.preference-option:hover {
    border-color: #007bff;
}

.preference-option.selected {
    border-color: #007bff;
    background-color: #e3f2fd;
}

button{
background: transparent;
border: none;
color: #CAAC53;
}

.boxx p{
font-size: 1.3rem;
font-weight: 600;
}

@media(max-width:768px){
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }


    body{
    font-family: "Raleway", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    }
    
    html{
    font-size: 50%;
    }
    
    main{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    min-width:100vw;
    min-height: 100vh;
    }
    
    .bud{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: auto;
    overflow: auto;
    scrollbar-width: none; 
}

.bud::-webkit-scrollbar {
    display: none;
}

    
    .box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 70rem;
    height: auto;
    margin-top: 2rem;
    padding: 1rem;
}

   
    .sox{
    text-align: center;
    align-content: end;
    width: 25rem;
    height: 8rem;
    margin-bottom: 3rem;
    }
    
    .box h1{
    font-size: 2.5rem;
    }
    
    .box p{
    font-size: 1.6rem;
    }
    
    .category {
        margin-bottom: 20px;
    }
    
    h1 {
        margin-bottom: 2rem;
        font-size: 2rem;
        font-weight: 500;
    }
    
    .preference-container {
        display: flex;
        justify-content: start;
        width: 70rem;
        gap: 1rem;
        flex-wrap: wrap;
    }
    
    .preference-option {
        border: 1px solid  #000000;
        padding: 10px;
        border-radius: 10px;
        cursor: pointer;
        text-align: center;
        transition: all 0.3s ease;
        width: auto;
    }
    
    .preference-option p {
        margin: 0 1rem ;
    }
    
    .preference-option:hover {
        border-color: #007bff;
    }
    
    .preference-option.selected {
        border-color: #007bff;
        background-color: #e3f2fd;
    }
    
    button{
    background: transparent;
    border: none;
    color: #CAAC53;
    }
    
    .boxx p{
    font-size: 1.3rem;
    font-weight: 600;
    }
}

@media(max-width:600px){
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }


    body{
    font-family: "Raleway", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    }
    
    html{
    font-size: 50%;
    }
    
    main{
    display: flex;
    justify-content: center;
    background-color: #FFFFFF;
    align-items: center;
    min-width:100vw;
    min-height: 100vh;
    }
    
    .bud{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    border-radius: none;
    width: 100%;
    height: auto;overflow: auto;
    scrollbar-width: none; 
}

.bud::-webkit-scrollbar {
    display: none;
}

    .box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 65rem;
    height: auto;
    margin-top: 2rem;
    padding: 1rem;
}

   
    .sox{
    text-align: center;
    align-content: end;
    width: 25rem;
    height: 8rem;
    }
    
    .box h1{
    font-size: 2.5rem;
    }
    
    .box p{
    font-size: 1.6rem;
    }
    
    .category {
        margin-bottom: 20px;
    }
    
    h1 {
        margin-bottom: 2rem;
        font-size: 2rem;
        font-weight: 500;
    }
    
    .preference-container {
        display: flex;
        justify-content: start;
        width: 70rem;
        gap: 1rem;
        flex-wrap: wrap;
    }
    
    .preference-option {
        border: 1px solid  #000000;
        padding: 10px;
        border-radius: 10px;
        cursor: pointer;
        text-align: center;
        transition: all 0.3s ease;
        width: auto;
    }
    
    .preference-option p {
        margin: 0 1rem ;
    }
    
    .preference-option:hover {
        border-color: #007bff;
    }
    
    .preference-option.selected {
        border-color: #007bff;
        background-color: #e3f2fd;
    }
    
    button{
    background: transparent;
    border: none;
    color: #CAAC53;
    }
    
    .boxx p{
    font-size: 1.3rem;
    font-weight: 600;
    }
}

@media(max-width:550px){
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }


    body{
    font-family: "Raleway", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    }
    
    html{
    font-size: 50%;
    }
    
    main{
    display: flex;
    justify-content: center;
    background-color: #FFFFFF;
    align-items: center;
    min-width:100vw;
    min-height: 100vh;
    }
    
    .bud{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    border-radius: none;
    width: 100%;
    height: auto;overflow: auto;
    scrollbar-width: none; 
}

.bud::-webkit-scrollbar {
    display: none;
}

    
    .box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 60rem;
    height: auto;
    margin-top: 2rem;
    padding: 1rem;
}

   
    .sox{
    text-align: center;
    align-content: end;
    width: 25rem;
    height: 8rem;
    }
    
    .box h1{
    font-size: 2.5rem;
    }
    
    .box p{
    font-size: 1.6rem;
    }
    
    .category {
        margin-bottom: 20px;
    }
    
    h1 {
        margin-bottom: 2rem;
        font-size: 2rem;
        font-weight: 500;
    }
    
    .preference-container {
        display: flex;
        justify-content: start;
        width: 50rem;
        gap: 1rem;
        flex-wrap: wrap;
    }
    
    .preference-option {
        border: 1px solid  #000000;
        padding: 10px;
        border-radius: 10px;
        cursor: pointer;
        text-align: center;
        transition: all 0.3s ease;
        width: auto;
    }
    
    .preference-option p {
        margin: 0 1rem ;
    }
    
    .preference-option:hover {
        border-color: #007bff;
    }
    
    .preference-option.selected {
        border-color: #007bff;
        background-color: #e3f2fd;
    }
    
    button{
    background: transparent;
    border: none;
    color: #CAAC53;
    }
    
    .boxx p{
    font-size: 1.3rem;
    font-weight: 600;
    }
}

@media(max-width:450px){
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }


    body{
    font-family: "Raleway", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    }
    
    html{
    font-size: 50%;
    }
    
    main{
    display: flex;
    justify-content: center;
    background-color: #FFFFFF;
    align-items: center;
    min-width:100vw;
    min-height: 100vh;
    }
    
    .bud{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    border-radius: 0;
    width: 100%;
    height: auto;overflow: auto;
    scrollbar-width: none; 
}

.bud::-webkit-scrollbar {
    display: none;
}

    
    .box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 50rem;
    height: auto;
    margin-top: 2rem;
    padding: 1rem;
}

   
    .sox{
    text-align: center;
    align-content: end;
    width: 25rem;
    height: 8rem;
    }
    
    .box h1{
    font-size: 2.5rem;
    }
    
    .box p{
    font-size: 1.6rem;
    }
    
    .category {
        margin-bottom: 20px;
    }
    
    h1 {
        margin-bottom: 2rem;
        font-size: 2rem;
        font-weight: 500;
    }
    
    .preference-container {
        display: flex;
        justify-content: start;
        width: 50rem;
        gap: 1rem;
        flex-wrap: wrap;
    }
    
    .preference-option {
        border: 1px solid  #000000;
        padding: 10px;
        border-radius: 10px;
        cursor: pointer;
        text-align: center;
        transition: all 0.3s ease;
        width: auto;
    }
    
    .preference-option p {
        margin: 0 1rem ;
    }
    
    .preference-option:hover {
        border-color: #007bff;
    }
    
    .preference-option.selected {
        border-color: #007bff;
        background-color: #e3f2fd;
    }
    
    button{
    background: transparent;
    border: none;
    color: #CAAC53;
    }
    
    .boxx p{
    font-size: 1.3rem;
    font-weight: 600;
    }
}



@media(max-width:350px){
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }


    body{
    font-family: "Raleway", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    }
    
    html{
    font-size: 50%;
    }
    
    main{
    display: flex;
    justify-content: center;
    background-color: #FFFFFF;
    align-items: center;
    min-width:100vw;
    min-height: 100vh;
    }
    
    .bud{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    border-radius: 0;
    width: 100%;
    height: auto;overflow: auto;
    scrollbar-width: none; 
}

.bud::-webkit-scrollbar {
    display: none;
}

    
    .box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 40rem;
    height: auto;
    margin-top: 2rem;
    padding: 1rem;
}

   
    .sox{
    text-align: center;
    align-content: end;
    width: 25rem;
    height: 8rem;
    }
    
    .box h1{
    font-size: 2.5rem;
    }
    
    .box p{
    font-size: 1.6rem;
    }
    
    .category {
        margin-bottom: 20px;
    }
    
    h1 {
        margin-bottom: 2rem;
        font-size: 2rem;
        font-weight: 500;
    }
    
    .preference-container {
        display: flex;
        justify-content: start;
        width: 45rem;
        gap: 1rem;
        flex-wrap: wrap;
    }
    
    .preference-option {
        border: 1px solid  #000000;
        padding: 10px;
        border-radius: 10px;
        cursor: pointer;
        text-align: center;
        transition: all 0.3s ease;
        width: auto;
    }
    
    .preference-option p {
        margin: 0 1rem ;
    }
    
    .preference-option:hover {
        border-color: #007bff;
    }
    
    .preference-option.selected {
        border-color: #007bff;
        background-color: #e3f2fd;
    }
    
    button{
    background: transparent;
    border: none;
    color: #CAAC53;
    }
    
    .boxx p{
    font-size: 1.3rem;
    font-weight: 600;
    }
}


